.somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.somos-container h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.somos-container p {
  max-width: 800px;
  font-weight:normal;
  line-height: 1.6;
  text-align: center;
}