:root{ 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  width: 100%;
}